name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:

  build:
    name: ${{ matrix.os }} @ Go ${{ matrix.go }}
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest, macos-latest, windows-latest]
            go: ['1.23.x', '1.24.x']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -coverprofile c.out ./...

    - name: Codecov
      uses: codecov/codecov-action@v5.4.3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        OS: ${{ matrix.os }}
        GO: ${{ matrix.go }}
      with:
        files: ./c.out
        env_vars: OS,GO
